/* Geral */

body {
    position: relative;
    height: 100%!important;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #4E5E6A;
    overflow-x: hidden;
}

html {
    height: 100%!important;
    position: relative;
}

a {
    text-decoration: none!important;
}

a:hover,
a:active,
a:focus {
    outline: none!important;
    text-decoration: none;
}

p {
    display: block;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 28px;
    margin: 0 0 10px 0;
    font-style: normal;
    white-space: normal;
}

h1,
h2,
h6 {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

h3,
h4,
h5 {
    font-weight: 600;
}

label {
    font-size: 13px;
    font-weight: normal;
}

footer {
    padding: 20px;
}

.hide {
    display: none;
}

/* Botões */

.btn {
    padding: 13px;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 25px;
    outline: none!important;
    color: white;
    background: #4E5E6A;
}

/* Cores */
.dark-yellow {
    color: #FF9800;
}

.yellow {
    color: #FFEB3B;
}

.pink {
    color: #E91E63;
}

.blue {
    color: #3498DB;
}

.orange {
    color: #8c4500;
}

.red {
    color: #F44336;
}

.green {
    color: #009688;
}

/* menu */
#menu {
    width: 100%;
    height: 9%;
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
    background: #141418;
    transition: all 0.3s ease-in-out;
    margin-top: 0;
    box-shadow: 0 1px 8px 0 rgba(51, 51, 51, 0.2);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
}

#logo {
    width: 30%;
    height: 100%;
    color: #eeeeee;
    float: left;
    font-weight: bold;
    margin-left: 1%;
    padding-top: 1.8%;
}

#logo a {
    width: 100%;
    height: 20%;
}

#menu-items {
    width: 68%;
    height: 100%;
    float: right;
}

#menu-items ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #141418;
}

#menu-items li {
    width: 16%;
    height: 100%;
    float: left;
}

#menu-items li a {
    width: 100%;
    height: 100%;
    display: block;
    color: #eeeeee;
    text-align: center;
    text-decoration: none;
    padding-top: 15%;
}

#menu-items li a:hover {
    background-color: #333333;
}

/* Home */
@media (min-width: 768px) {
    #home {
        width: 100%;
        height: 100%;
        position: relative;
        background: url('../imagens/bg2.jpg') fixed;
        background-size: cover;
        right: 0;
        left: -8px;
        top: -8px;
    }
}

@media (max-width: 768px) {
    #home {
        width: 100%;
        height: 100%;
        position: relative;
        background: url('../imagens/bg6.jpg') fixed;
        background-size: 100% 100%;
        right: 0;
        left: -8px;
        top: -17px;
    }
}

#home-texto {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 257px;
    margin-top: -138.5px;
    color: #fff;
    text-align: center;
}

#home-texto-lg {
    font-size: 3.8em;
    font-weight: unset;
    text-shadow: 1px 2px black;
}

#home-texto-mg {
    padding: 2%;
    font-size: 2em;
    text-shadow: 1px 2px black;
}

#home-texto hr {
    width: 70%;
}

/* Serviços */
#servicos {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    margin-right: -10%;
}

.servicos-linha {
    display: block;
    width: 100%;
    height: 47%;
}

.servicos-blocos {
    float: left;
    width: 30%;
    height: 100%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    text-align: center;
}

.servicos-blocos h2 {
    width: 100%;
    height: 10%;
    font-weight: unset;
}

.servicos-blocos p {
    width: 100%;
    height: auto;
    font-weight: unset;
}

.servicos-blocos-icone {
    width: 35%;
    height: 45%;
}

/* Equipe */
#equipe {
    width: 100%;
    height: 75%;
    background-color: #f7f7f7;
    position: relative;
    left: -8px;
    top: -8px;
}

#equipe-container-imagem {
    width: 28%;
    height: 100%;
    float: left;
}

#equipe-imagem {
    width: 80%;
    height: 80%;
    margin-top: 20%;
    margin-left: 5%;
}

#equipe-descricao {
    width: 70%;
    height: 75%;
    float: left;
    margin-top: 6%;
}

#equipe-descricao i {
    font-size: 1.3em;
}

#equipe-descricao h1 {
    font-weight: unset;
    font-size: 2em;
}

#equipe-descricao ul {
    list-style: none;
}

#equipe-descricao ul li {
    padding-top: 1%;
    padding-bottom: 1%;
}

/* Depoimentos */
#depoimentos {
    width: 100%;
    height: 75%;
    background: url('../imagens/startup.jpg');
    background-size: cover;
    position: relative;
    left: -8px;
    top: -8px;
}

#depoimentos-carousel {
    width: 100%;
    height: 100%;
}

.depoimentos-item {
    width: 60%;
    height: 60%;
    margin: auto;
    padding-top: 10%;
}

/* Planos */
#planos {
    width: 100%;
    height: auto;
    padding-top: 1%;
}

.cd-pricing-container {
    width: 80%;
    height: auto;
}

.cd-pricing-header h2 {
    font-size: 1.5em;
}

.cd-value {
    font-size: 5em;
}

.cd-currency,
.cd-duration {
    font-size: 1.3em;
}

.cd-pricing-features li {
    font-size: 1.5em;
}

/* Contato */
#contato {
    background-color: #f7f7f7;
    width: 100%;
    height: 75%;
    text-align: center;
    padding-top: 5%;
}

#contato-icone-mensagem {
    margin: auto;
    background-color: #009688;
    width: 4%;
    height: 10%;
    border: 1px solid transparent;
    border-radius: 50px;
}

#contato-icone-mensagem a i {
    width: 100%;
    height: 100%;
    color: #eeeeee;
    font-size: 1.9em;
    padding-top: 30%;
}

input[type=text] {
    width: 45%;
    padding: 2% 2%;
    margin: 2% 2%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    width: 95%;
    padding: 2% 2%;
    margin: 2% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 25%;
    height: 5%;
    background-color: #009688;
    color: white;
    padding: 2% 2%;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 95%;
    height: 20%;
    padding: 2% 2%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#contato-form {
    width: 50%;
    height: 60%;
    margin: auto;
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 3%;
}

/* Footer */
footer {
    width: 100%;
    height: 5%;
    background-color: #141418;
    text-align: center;
    margin-left: -1%;
}