/* Geral */

body {
    position: relative;
    height: 100%!important;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #4E5E6A;
    overflow-x: hidden;
}

html {
    height: 100%!important;
    position: relative;
}

a {
    text-decoration: none!important;
}

a:hover,
a:active,
a:focus {
    outline: none!important;
    text-decoration: none;
}

p {
    display: block;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 28px;
    margin: 0 0 10px 0;
    font-style: normal;
    white-space: normal;
}

h1,
h2,
h6 {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

h3,
h4,
h5 {
    font-weight: 600;
}

label {
    font-size: 13px;
    font-weight: normal;
}

footer {
    padding: 20px;
}

/* Botões */

.btn {
    padding: 13px;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 25px;
    outline: none!important;
    color: white;
    background: #4E5E6A;
}

/* Cores */
.dark-yellow {
    color: #FF9800;
}

.yellow {
    color: #FFEB3B;
}

.pink {
    color: #E91E63;
}

.blue {
    color: #3498DB;
}

.orange {
    color: #8c4500;
}

.red {
    color: #F44336;
}

.green {
    color: #009688;
}

/* menu */
#menu {
    width: 100%;
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: #141418;
    transition: all 0.3s ease-in-out;
    margin-top: 0;
    box-shadow: 0 1px 8px 0 rgba(51, 51, 51, 0.2);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
}

.hide {
    display: none;
}

#logo {
    color: #eeeeee;
    float: left;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 1%;
}

#items {
    width: 60%;
    height: auto;
    float: right;
}

#items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #141418;
}

#items li {
    float: left;
}

#items li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 12px;
    text-decoration: none;
}

#items li a:hover {
    background-color: #333333;
}

/* Home */
@media (min-width: 768px) {
    #home {
        width: 100%;
        height: 100%;
        position: relative;
        background: url('../imagens/bg2.jpg') fixed;
        background-size: cover;
        right: 0;
        left: -8px;
        top: -8px;
    }
}

@media (max-width: 768px) {
    #home {
        width: 100%;
        height: 100%;
        position: relative;
        background: url('../imagens/bg6.jpg') fixed;
        background-size: 100% 100%;
        right: 0;
        left: -8px;
        top: -17px;
    }
}

#texto-home {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 257px;
    margin-top: -138.5px;
    color: #fff;
    text-align: center;
}

#texto-home-lg {
    font-size: 3.8em;
    font-weight: unset;
    text-shadow: 1px 2px black;
}

#texto-home-mg {
    padding: 2%;
    font-size: 2em;
    text-shadow: 1px 2px black;
}

#texto-home-hr {
    width: 70%;
}

/* Serviços */
#servicos {
    width: 90%;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    margin: auto;
    padding-top: 5%;
}

.servicos-blocos {
    width: 30%;
    height: 40%;
    text-align: center;
    float: left;
    padding: 1%;
}

.servicos-blocos h2 {
    font-weight: unset;
    font-size: 2em;
}

.icone-blocos {
    width: 35%;
    height: 45%;
    background-color: red;
}

/* Equipe */
#equipe {
    width: 100%;
    height: 75%;
    background-color: #f7f7f7;
    position: relative;
    left: -8px;
    top: -8px;
}

#container-imagem-equipe {
    width: 22%;
    height: 35%;
    margin-left: 7%;
    padding-top: 5%;
    float: left;
}

#imagem-equipe {
    width: 100%;
    height: 100%;
}

#descricao-equipe {
    width: 60%;
    height: 35%;
    margin-left: 7%;
    padding-top: 5%;
    float: left;
}

#descricao-equipe i {
    font-size: 1.5em;
}

#descricao-equipe h1 {
    font-weight: unset;
    font-size: 2.2em;
}

#descricao-equipe ul {
    list-style: none;
}

#descricao-equipe ul li {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

/* Depoimentos */
#depoimentos {
    width: 100%;
    height: 75%;
    background: url('../imagens/startup.jpg');
    background-size: cover;
    position: relative;
    left: -8px;
    top: -8px;
}

.item {
    padding-top: 12%;
    width: 40%;
    margin: auto;
}

.item p {
    font-weight: bold;
}

/* Planos */
#planos {
    width: 100%;
    height: 100%;
    position: relative;
    left: -8px;
    top: -8px;
    padding-top: 2%;
}

.cd-pricing-container {
    width: 100%;
    height: 100%;
}

.cd-pricing-header h2 {
    font-size: 1.5em;
}

.cd-value {
    font-size: 5em;
}

.cd-currency,
.cd-duration {
    font-size: 1.3em;
}

.cd-pricing-features li {
    font-size: 1.5em;
}

/* Contato */
#contato {
    width: 100%;
    height: 75%;
    text-align: center;
    padding-top: 6%;
}

#icone-mensagem {
    margin: auto;
    background-color: #009688;
    width: 70px;
    height: 70px;
    border: 1px solid transparent;
    border-radius: 50px;
}

#icone-mensagem a i {
    color: #eeeeee;
    font-size: 1.9em;
    padding-top: 30%;
}

input[type=text] {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 25%;
    background-color: #009688;
    color: white;
    padding: 20px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 95%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#contato-form {
    width: 50%;
    height: 70%;
    margin: auto;
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 20px;
}

/* Footer */
footer {
    width: 100%;
    height: 18px;
    margin-top: 6%;
    background-color: #141418;
    position: relative;
    right: 0;
    left: -8px;
    top: -40px;
    text-align: center;
}